# Dictionary

## Initialization

In [1]:
a = {"name": "Tom",
     "age" : 43,
     "address": ["H.No: 10-64", "Vinayak Nagar", "Balanagar", "Vierkirchen", "Munich"]}
a

{'name': 'Tom',
 'age': 43,
 'address': ['H.No: 10-64',
  'Vinayak Nagar',
  'Balanagar',
  'Vierkirchen',
  'Munich']}

In [2]:
a = {}
a['name'] = 'Tom'
a['age'] = 43
a['address'] = "H.No: 10-64, Vinayak Nagar, Balanagar, Vierkirchen, Munich"
a

{'name': 'Tom',
 'age': 43,
 'address': 'H.No: 10-64, Vinayak Nagar, Balanagar, Vierkirchen, Munich'}

## Modification

### Append/join two dictionaries

In [3]:
address = {
    "streed": "UnterStr",
    "housenum": 99,
    "pin": "23493",
    "city": "Shanghai"
}
personal = {
    "name": "Jim",
    "age": 55,
    "married": True,
    "children": 100
}
personal.update(address)
personal

{'name': 'Jim',
 'age': 55,
 'married': True,
 'children': 100,
 'streed': 'UnterStr',
 'housenum': 99,
 'pin': '23493',
 'city': 'Shanghai'}

### Clear the complete dictionary

In [4]:
a = {"name": "Tom", "age" : 43, "address": ["H.No: 10-64", "Vinayak Nagar", "Balanagar", "Vierkirchen", "Munich"]}
a.clear()
a

{}

### Removing items from a dictionary

In [32]:
a = {"name": "Tom", "age" : 43, "address": ["H.No: 10-64", "Vinayak Nagar", "Vierkirchen", "Munich"]}
a

{'name': 'Tom',
 'age': 43,
 'address': ['H.No: 10-64', 'Vinayak Nagar', 'Vierkirchen', 'Munich']}

In [33]:
del(a['address'])
a

{'name': 'Tom', 'age': 43}

In [34]:
# Removing a non-existing key from a dictionary is NOT OK. Will throw a 'KeyError' exception
try:
    del(a['address'])
except KeyError:
    print("ERROR !!! Cannot delete a non-existing key.")

ERROR !!! Cannot delete a non-existing key.

In [39]:
a = {"name": "Tom", "age" : 43, "address": ["H.No: 10-64", "Vinayak Nagar", "Vierkirchen", "Munich"]}
address = a.pop("address")
a

{'name': 'Tom', 'age': 43}

In [40]:
address

['H.No: 10-64', 'Vinayak Nagar', 'Vierkirchen', 'Munich']

In [38]:
# Popping a non-existing value will throw a KeyError exception
try:
    print(a.pop('address'))
except KeyError:
    print("ERROR !!! Cannot delete a non-existing key.")

ERROR !!! Cannot delete a non-existing key.

# Checking

In [7]:
a = {"name": "Tom", "age" : 43, "address": ["H.No: 10-64", "Vinayak Nagar", "Balanagar", "Vierkirchen", "Munich"]}
print("'name' in a: {}".format('name' in a))
print("'age' in a: {}".format('age' in a))
print("'address' in a: {}".format('address' in a))
print("'profession' in a: {}".format('profession' in a))

'name' in a: True
'age' in a: True
'address' in a: True
'profession' in a: False

# Iteration

### Accessing the keys

In [8]:
# Accessing the keys !!
a = {"name": "Tom", "age" : 43, "address": ["H.No: 10-64", "Vinayak Nagar", "Balanagar", "Vierkirchen", "Munich"]}
print("Keys of the dictionary a: ")
for key in a:
    print(key)
    
print("\nAnother way to access the keys: ")
for key in a.keys():
    print(key)

Keys of the dictionary a:
name
age
address

Another way to access the keys:
name
age
address

### Accessing the values

In [9]:
a = {"name": "Tom", "age" : 43, "address": ["H.No: 10-64", "Vinayak Nagar", "Balanagar", "Vierkirchen", "Munich"]}
    
print("\nValues of the dictionary a: ")
for value in a.values():
    print(value)
  
# Using the get() method
print("\nGet value for key(name) using get(): {}".format(a.get('name')))
print("Get value for non-existing key(unknown) using get() with custom message: {}".format(a.get('unknown', 'ERROR!!!The value does not exist')))
print("Get value for non-existing key(unknown) using get() with default value: {}".format(a.get('unknown', 999999999)))
print("get() method by default returns None if the value does not exist: {}".format(a.get('unknown')))

Values of the dictionary a:
Tom
43
['H.No: 10-64', 'Vinayak Nagar', 'Balanagar', 'Vierkirchen', 'Munich']

Get value for key(name) using get(): Tom
Get value for non-existing key(unknown) using get() with custom message: ERROR!!!The value does not exist
Get value for non-existing key(unknown) using get() with default value: 999999999
get() method by default returns None if the value does not exist: None

### General iteration through the dictionary

In [10]:
a = {"name": "Tom", "age" : 43, "address": ["H.No: 10-64", "Vinayak Nagar", "Balanagar", "Vierkirchen", "Munich"]}
for k in a:
    print("{} --> {}".format(k, a[k]))

name --> Tom
age --> 43
address --> ['H.No: 10-64', 'Vinayak Nagar', 'Balanagar', 'Vierkirchen', 'Munich']

## Use a dictionary to set variables in a string
### Complete replacement

In [11]:
details = {
    "name": "Tom",
    "age": 99,
    "address": "City center, Washington"
}

cmd = "my name is {name}. I am {age} years old. I live at {address}"
cmd.format(**details)

'my name is Tom. I am 99 years old. I live at City center, Washington'

### Partial replacement

In [12]:
unknownprops = {
    "name": "Tom",
    "who": "lets",
    "are": "see",
    "you": "what happens"
}

cmd = "my name is {name}. I am age years old. I live at address"
cmd.format(**unknownprops)

'my name is Tom. I am age years old. I live at address'

## Replacement of a dictionary of strings with variables

In [13]:
details = {
    "name": "Tom",
    "age": 99,
    "address": "City center, Washington"
}

cmds = {
    1: "my name is {name}. I am {age} years old. I live at {address}",
    2: "Hi, I am {name}, and I am {age} years old. Now I am living at {address}",
    3: "Ola, I am {name}, and I am {age} years old. Now I am living at {address}"
}

for key in cmds:
    cmds[key] = cmds[key].format(**details) 
    
print(cmds)

{1: 'my name is Tom. I am 99 years old. I live at City center, Washington', 2: 'Hi, I am Tom, and I am 99 years old. Now I am living at City center, Washington', 3: 'Ola, I am Tom, and I am 99 years old. Now I am living at City center, Washington'}